<div class="col-md-8 col-md-offset-2">
	<div class="message-show">
		<h2><%= @message.title %></h2>
		<p class="message-posted-by"><%= @message.user.name%>  Shouted....<%= time_ago_in_words(@message.created_at) %> ago</p>
		<p class="message-desc"><%= @message.description %></p>
		<div>
			<%= image_tag(@message.avatar.url(:thumb)) %>
		</div>
		<!-- Add a Posted By: username at timestamp. -->

		<h3 class="comment-section-header">Comments:</h3>
		<!-- renders the _comment.html.erb partial file. -->
		<p><%= render @message.comments %></p>
		
		
		
		<!-- renders the comments form -->
		<%= render 'comments/form' %>
		
		
		
		<!--liking with facebook-->
		
		
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1609960025945892";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		
		
		<!--shouting with facebook-->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1609960025945892";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	
		<div class="fb-comments" data-href= <%= request.original_url %> data-numposts="5"></div>
		
		<div class="fb-like" data-href="https://shouter-uoit-showcase.c9.io/" 
		data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
		
		
		<!-- Add a conditional so that the 'edit' and 'destroy' links only appear for the user who created the message. -->
		<div class="links btn-group">
			<%= link_to "Back", root_path, class: "btn btn-default" %>
			
				<%= link_to "Edit", edit_message_path(@message), class: "btn btn-default" %>
				<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
			
		</div>
	</div>
</div>

